*{
  	margin: 0px;
}

html {
  scroll-behavior: smooth;
}

.wrapper{
  background-color: #B59E7A;
}

#logo{
  /* font-family: 'Shadows Into Light', cursive; */
  font-size: 200%;
}
.header{
  background-color: black;
}
.header,a{
  color: white;
}

/* responsiveness */
/* Bouta be responsive af */

/* Moblie Display */

@media all and (max-width: 480px) {
/* ____header_____ */
  .header{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding-bottom: 13%;
    /* position: fixed; */
    /* color: white; */
    /* border: 2px solid; */
  }

  /* ____logo and navbar____ */

  .header #logo{
    position: relative;
    left: 10px;
  }

  .header ul{
    margin-top: 2%;
    position: absolute;
    right: 10px;
  }

  li{
    list-style-type: none;
    /* font-family: 'Shadows Into Light', cursive; */
  }

  a{
    /* display: inline-flex; */
    text-decoration: none;
  }

/* ___name section___ */

  .name{
    height: 300px;
    margin-bottom: 10px;
  }


  h1{
    padding: 20%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
  }

/* ___about section___ */

  .about{
    padding-bottom: 25px;
  }
  .about h2{
    text-align: center;
  }

   .about p{
     margin-left: 10%;
     width: 280px;
     height: 200px;
     padding: 7%;
     border-radius: 15%;
     background-color: white;
     margin-bottom: 20px;
  }


  /*  ===== about images =====  */

  .top_images img, .bottom_images img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .about_images{
    margin-left: 100px;
  }

  .bottom_images{
    margin-left: 35px;
  }



  /* ======= product section ======= */
  .product{
    padding-top: 10%;
    background-color: black;
    color: #B59E7A;
    /* padding-bottom: 20%; */
  }

  .product h2, p{
    text-align: center;
  }

  .product #last_text{
    padding-bottom: 7%;
  }
  .product_grid{
    /* padding-top: 20%; */
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 40px;
    padding: 3%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 15%;
  }

  .papers img{
    height: 100px;
  }

  /* 2by2 grid layout */
  .product_grid .printed{
    grid-row-start: 1;
    /* grid-row-end: 3; */
    /* border: 2px solid red; */

  }

  .product_grid .poster{
    grid-column-start: 2;
    grid-row-start: 1
  }

  .product_grid .color{
    grid-column-start: 2;
    grid-row-start: 2;
  }

  /* ===== testimonies section =====  */
  .testimonies h3{
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%

  }

  blockquote:before{
    /* position: absolute; */
    content: open-quote;
    font-weight: bold;
    font-size: 30px;

  }

  blockquote:after{
    /* right: 0; */
    content: close-quote;
    font-weight: bold;
    font-size: 30px;
    margin-left: 90%;
    /* right: 0px; */
  }

  .testimony{
    padding: 5%;
  }

  .four{
    /* border: 2px solid; */
    padding-bottom: 15%;
  }

  /*  =====contact ===== */

  .contact{
    margin-top: 50px;
    padding-bottom: 20px;
  }
  .contact h2{
    text-align: center;
  }
  .form{
    background-color: black;
    color: #B59E7A;
    width: 30%;
    margin-top: 10%;
    margin-left: 22%;
    /* text-align: center; */
    padding: 15%;
    border-radius: 15%;
    /* margin-bottom: 20px; */
  }
  input{
    padding-bottom: 7%;
    margin-bottom: 15%;
  }

  /* ==== footer ==== */

  .footer{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding-bottom: 5%;
    color:  white;


  }

  .footer{
    background-color: black;
  }

  .footer ul{
    /* border: 2px solid white; */
    margin-left: 35%;
  }

}


/* Tablet Display */

@media all and (min-width: 768px) and (max-width: 991px) {

          /* ====== header ====== */
  .header{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding: 2%;
    /* position: fixed; */
    /* color: white; */
    /* border: 2px solid; */
  }

  a{
    text-decoration: none;
  }

  ul{
    margin-top: 3%;
    margin-left: 10%;
  }

  li{
    margin-left: 5%;
    display: inline;
    list-style-type: none;
  }

  /* ====== header ====== */

  /* ====== Name ====== */
  .name{
    height: 300px;
    margin-bottom: 10px;
  }

  h1{
    padding: 15%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
  }

      /* ===== About Us ===== */
  .about{
    padding-bottom: 50px;
  }
  .about h2{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 50px;
  }

  .about p{
    margin-left: 12%;
    width: 60%;
    /* height: 150px; */
    padding: 10%;
    border-radius: 25%;
    background-color: white;
    margin-bottom: 20px;
 }
 .about_images{
   margin-left: 220px;
 }
 .about_images .bottom_images{
   margin-left: 50px;
 }
 .about img{
   /* margin-left: 100px; */
   height: 120px;
   width: 120px;
   border-radius: 50%;
 }



/* ======  product section ====== */

 .product{
   padding-top: 3%;
   background-color: black;
   color: #B59E7A;
   /* padding-bottom: 20%; */
 }

 .product h2, .product p{
   text-align: center;
 }

 .product h2{
   font-family: 'Shadows Into Light', cursive;
   font-size: 300%;
 }

 .product h3{
   font-size: 200%;
 }

 .product_grid{
   /* padding-top: 20%; */
   grid-template-columns: 1fr 1fr;
   display: grid;
   grid-gap: 40px;
   padding: 3%;
   text-align: center;
   padding-top: 6%;
   padding-bottom: 10%;
 }

 .product p{
   font-size: 150%;
   /* font-family: 'Shadows Into Light', cursive; */
 }

 .product #last_text{
   padding-bottom: 5%;
 }

 .papers img{
   height: 200px;
 }


 /* ===== testimonies section =====  */
 .testimonies h3{
   padding-top: 5%;
   text-align: center;
   font-family: 'Shadows Into Light', cursive;
   font-size: 200%;
   /* padding-bottom: 5% */

 }

 blockquote:before{
   /* position: absolute; */
   content: open-quote;
   font-weight: bold;
   font-size: 30px;

 }

 blockquote:after{
   /* right: 0; */
   content: close-quote;
   font-weight: bold;
   font-size: 30px;
   margin-left: 90%;
   /* right: 0px; */
 }

 .testimony{
   padding: 5%;
   font-size: 120%;
 }

 .four{
   /* border: 2px solid; */
   padding-bottom: 15%;
 }

 /*  =====contact ===== */

 .contact{
   /* margin-top: 50px; */
   padding-bottom: 20px;
 }
 .contact h2{
   font-family: 'Shadows Into Light', cursive;
   text-align: center;
   font-size: 300%;
 }

 .contact p{
   width: 40%;
   text-align: center;
   margin-left: 30%;
   padding: 20px;
 }

 .form{
   background-color: black;
   color: #B59E7A;
   width: 30%;
   margin-left: 25%;
   padding: 8%;
   border-radius: 15%;
 }

 input{

   margin-bottom: 15%;
   margin-left: 30px;
 }

 .form span{
   /* color: pink;  */
   margin-left: 30px;
 }

 .form textarea{
   /* margin-left: 45%; */
 }

  /* ====== footer section ======  */
  .footer{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding-bottom: 2%;
    color:  white;
    background-color: black;
  }
  .footer #logo{
    position: relative;
    left: 20px;
  }

  .footer ul{
    /* border: 2px solid white; */
    margin-left: 70%;
    margin-top: 5px;
  }

  .footer li{
    display: block;
  }

}
