*{
  	margin: 0px;
}

html {
  scroll-behavior: smooth;
}

.wrapper{
  background-color: #B59E7A;
}

#logo{
  /* font-family: 'Shadows Into Light', cursive; */
  font-size: 200%;
}
.header{
  background-color: black;
}
.header,a{
  color: white;
}

/* responsiveness */
/* Bouta be responsive af */

/* Moblie Display */

@media all and (max-width: 480px) {
/* ____header_____ */
  .header{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding-bottom: 13%;
    /* position: fixed; */
    /* color: white; */
    /* border: 2px solid; */
  }

  /* ____logo and navbar____ */

  .header #logo{
    position: relative;
    left: 10px;
  }

  .header ul{
    margin-top: 2%;
    position: absolute;
    right: 10px;
  }

  li{
    list-style-type: none;
    /* font-family: 'Shadows Into Light', cursive; */
  }

  a{
    /* display: inline-flex; */
    text-decoration: none;
  }

/* ___name section___ */

  .name{
    height: 300px;
    margin-bottom: 10px;
  }


  h1{
    padding: 20%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
  }

/* ___about section___ */

  .about{
    padding-bottom: 25px;
  }
  .about h2{
    text-align: center;
  }

   .about p{
     margin-left: 10%;
     width: 280px;
     height: 200px;
     padding: 7%;
     border-radius: 15%;
     background-color: white;
     margin-bottom: 20px;
  }


  /* ____about images____ */

  .top_images img, .bottom_images img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .about_images{
    margin-left: 100px;
  }

  .bottom_images{
    margin-left: 35px;
  }



  /* ======= product section ======= */
  .product{
    padding-top: 10%;
    background-color: black;
    color: #B59E7A;
    /* padding-bottom: 20%; */
  }

  .product h2, p{
    text-align: center;
  }

  .product #last_text{
    padding-bottom: 7%;
  }
  .product_grid{
    /* padding-top: 20%; */
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 40px;
    padding: 3%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 15%;
  }

  .papers img{
    height: 100px;
  }

  /* 2by2 grid layout */
  .product_grid .printed{
    grid-row-start: 1;
    /* grid-row-end: 3; */
    /* border: 2px solid red; */

  }

  .product_grid .poster{
    grid-column-start: 2;
    grid-row-start: 1
  }

  .product_grid .color{
    grid-column-start: 2;
    grid-row-start: 2;
  }

  /* ===== testimonies section =====  */
  .testimonies h3{
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%

  }

  blockquote:before{
    /* position: absolute; */
    content: open-quote;
    font-weight: bold;
    font-size: 30px;

  }

  blockquote:after{
    /* right: 0; */
    content: close-quote;
    font-weight: bold;
    font-size: 30px;
    margin-left: 90%;
    /* right: 0px; */
  }

  .testimony{
    padding: 5%;
  }

  .four{
    /* border: 2px solid; */
    padding-bottom: 15%;
  }

  /*  =====contact ===== */

  .contact{
    margin-top: 50px;
    padding-bottom: 20px;
  }
  .contact h2{
    text-align: center;
  }
  .form{
    background-color: black;
    color: #B59E7A;
    width: 30%;
    margin-top: 10%;
    margin-left: 22%;
    /* text-align: center; */
    padding: 15%;
    border-radius: 15%;
    /* margin-bottom: 20px; */
  }
  input{
    padding-bottom: 7%;
    margin-bottom: 15%;
  }

  /* ==== footer ==== */

  .footer{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding-bottom: 5%;
    color:  white;


  }

  .footer{
    background-color: black;
  }

  .footer ul{
    /* border: 2px solid white; */
    margin-left: 35%;
  }

}


/* Tablet Display */

@media all and (min-width: 768px) and (max-width: 991px) {

          /* ====== header ====== */
  .header{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding: 2%;
    /* position: fixed; */
    /* color: white; */
    /* border: 2px solid; */
  }

  a{
    text-decoration: none;
  }

  ul{
    margin-top: 3%;
    margin-left: 10%;
  }

  li{
    margin-left: 5%;
    display: inline;
    list-style-type: none;
  }

  /* ====== header ====== */

  /* ====== name ====== */
  .name{
    height: 300px;
    margin-bottom: 10px;
  }

  h1{
    padding: 15%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
  }

}
